<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новостной портал</title>
</head>
<body>
{% load custom_filters %}
{% for new in news %}
<p>{{ new.title|currency}} : {{ new.date_creation }} </p>
<p> </p>
<a href="{{ new.get_absolute_url }}"> {{ new.text|currency|truncatechars:20 }} </a>
{% endfor %}
{% block title %}
{% endblock %}
</body>
</html>